[submodule "easy-exam-front"]
	path = easy-exam-front
	url = git@github.com:andrea1diaz/easy-exam-front.git
[submodule "easyexam-backend"]
	path = easyexam-backend
	url = git@github.com:pmariniutec/easyexam-backend.git
[submodule "easyexam-frontend"]
	path = easyexam-frontend
	url = git@github.com:pmariniutec/easyexam-frontend.git
